.button-container {
  text-align: center;
  margin: 1rem auto;
}

.button {
  border-radius: 15px;
  text-decoration: none;
  background-color: var(--important-color);
  color: var(--white);
  padding: 0.25rem 0.75rem;
  transition: 0.7s ease-in-out;
  &:hover {
    background-color: var(--white);
    color: var(--important-color);
    transition: 0.7s ease-in-out;
  }
}
