:root {
  --main-color: rgba(252, 232, 229, 0.3);
  --main-color-full-opacity: rgb(255, 249, 249);
  --text-primary-color: #5b5b5b;
  --important-color: #cf9a71;
  --white: white;
  --white-bg-blur: rgba(255, 255, 255, 0.6);
  --title: "Dancing Script Variable";
  --text: "Playwrite GB S Variable";
  --base-size: 1rem;
  --scale: 1.25;
  --h5: calc(var(--base-size) * var(--scale));
  --h4: calc(var(--h5) * var(--scale));
  --h3: calc(var(--h4) * var(--scale));
  --h2: calc(var(--h3) * var(--scale));
  --h1: calc(var(--h2) * var(--scale));
  --big-text: calc(var(--h1) * var(--scale));
  --small-text: calc(var(--base-size) / var(--scale));
  --swiper-navigation-size: 35px !important;
  --swiper-theme-color: var(--important-color) !important;
  --swiper-pagination-bottom: 25px;
}

$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-desktop-xl: 1280px;
$breakpoint-desktop-xxl: 1440px;
