---
import Layout from "../layouts/Layout.astro";
import Image from "astro/components/Image.astro";
import Avatar from "../assets/images/About/KM-avatar.jpg";
import Candle from "../assets/images/About/candle.svg";
import About from "@assets/images/About/About.jpg";
---

<Layout>
  <div class="photo-container">
    <Image
      src={About}
      alt="Photo de l'intérieur du cabinet Jeannelle"
      class="about-photo"
    />
    <h4>"Préparez votre temps, pour vous j'ai tout le mien."</h4>
  </div>

  <section class="limited-container">
    <div class="about-section">
      <div class="text-content">
        <h2>Qui suis-je ?</h2>
        <p>
          8 ans à me former, à pratiquer, tester, chercher, recommencer,
          solutionner, recommencer encore, perfectionner... Et ce dans le but de
          devenir ma propre thérapeute... Pour mon corps, mon mental, et mon
          énergie.
        </p>
        <b>
          <p>C'est aujourd'hui chose faite.</p>
        </b>
        <p>
          Le corps est une merveilleuse machine, bien orchestrée. Et comme
          l'esprit, il vient nous parler de manière subtile, parfois maladroite.
        </p>
        <p>
          Écouter, entendre, comprendre... J'ai eu à coeur d'affiner cette
          sensibilité pour faire alliance avec le corps et l'esprit.
        </p>
        <h2>Pourquoi ?</h2>
        <p>
          Tout simplement pour me connaître, me respecter et gérer au mieux ce
          qui me traverse.
        </p>
        <b>
          <p>Être en paix, en santé, en vitalité.</p>
        </b>
        <p>
          Avec joie, reconnaissance et enthousiasme, Jeannelle est là en cette
          année 2024, pour celles et ceux qui partagent la même aspiration
          d'être en pleine possession de leur énergie, de leur stabilité et de
          leur authenticité.
        </p>
        <p>
          Merci à celles et ceux qui m'ont encouragée, accompagnée pour mener à
          bien ce projet d'ouverture.
        </p>
        <p>
          Merci à vous d'avoir pris le temps de me lire et peut-être
          viendrez-vous honorer le lieu de votre présence.
        </p>
      </div>
      <div class="avatar-about">
        <Image src={Avatar} alt="Karine Maraval" id="km-photo" />
      </div>
    </div>

    <div class="text-container">
      <h2>Mon parcours</h2>
      <ul>
        <li>Infirmière diplômée d'Etat</li>
        <li>Infirmière Sapeur-Pompier</li>
        <li>Naturopathe / Réflexologue</li>
        <li>
          Diplôme Universitaire de Nutrition / Micronutrition en sport et santé
        </li>
        <li>Formation en maieusthésie (Niveau 4 pro)</li>
        <li>Stages et perfectionnement en Aromathérapie</li>
        <li>
          Stages et perfectionnement en réflexologie (palmaire, viscérale,
          sensitive, énergétique chinoise)
        </li>
        <li>Formations Yin Yoga et Yoga</li>
      </ul>
    </div>
  </section>
  <div class="tribute-section">
    <div class="tribute-text">
      <h2>Un dernier mot...</h2>
      <p>
        Enfin, un clin d'oeil particulier et précieux à celles et ceux avec qui
        je suis connectée d'âme à âme depuis tant d'années. Vos présences
        subtiles m'aident...
      </p>
      <p>Merci d'être là, à mes côtés, sur mon épaule et dans mon coeur.</p>
      <p><Image src={Candle} alt="Bougie" /></p>
      <h2>...Jeannelle, c'est vous.</h2>
    </div>
  </div>
</Layout>

<style lang="scss">
  @use "@styles/config/variables" as *;
  @use "@styles/config/mixins" as *;

  .photo-container {
    width: 90%;
    height: 80vh;
    margin: 1.5rem auto;
    position: relative;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 20px;
      z-index: 0;
    }
    &::before {
      content: "";
      position: absolute;
      inset: 0;
      border-radius: 20px;
      background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.1)
      );
      z-index: 1;
    }
    h4 {
      position: absolute;
      bottom: 5px;
      z-index: 2;
      text-align: center;
      font-style: italic;
      margin: 0;
      padding: 1rem;
      color: var(--important-color);
    }
  }

  .limited-container {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
  }

  .about-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 3rem;
    .text-content {
      text-align: justify;
    }
    .avatar-about {
      width: 100%;
      max-width: 500px;
      margin: 0 auto;

      #km-photo {
        width: 100%;
        height: auto;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 50px;
        border-top-left-radius: 50px;
        border-top-right-radius: 25px;
      }
    }
  }

  .text-container {
    li {
      font-size: var(--p);
      font-family: var(--text);
      color: var(--text-primary-color);
      line-height: 1.75rem;
    }
  }

  .tribute-section {
    background-image: url("../assets/images/About/Bougie.jpg");
    background-position: center;
    background-size: cover;
    height: 80vh;
    display: flex;
    margin: 4rem auto;
  }

  .tribute-text {
    width: 80%;
    padding: 2rem;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    text-align: center;
    h2 {
      color: var(--text-primary-color);
    }
    h2:last-child {
      margin-top: 0;
    }
    img {
      margin: 2rem auto;
    }
  }

  @include breakpoint-up($breakpoint-desktop) {
    .photo-container {
      height: 80vh;
      img {
        object-position: bottom;
      }
      h4 {
        right: 10px;
      }
    }

    .about-section {
      flex-direction: row;
      align-items: self-end;
    }

    .avatar-about {
      flex: 0 0 45%;
      max-width: 45%;
    }

    .tribute-section {
      background-attachment: fixed;
      margin-bottom: 0;
    }
  }
</style>
