---
import Layout from "@layouts/Layout.astro";
---

<Layout>
  <!-- Importer les mentions légales du premier projet. -->
  <h1>Mentions Légales</h1>
  <p>Bienvenue sur la page des mentions légales.</p>
  <p>Société :</p>
  <p>Développeur :</p>
  <section>
    <h2>Crédits</h2>
    <p>Conception et réalisation du site : Julien Marchand.</p>
  </section>
</Layout>

<style lang="scss">
  @use "../styles/config/variables" as *;
  @use "../styles/config/mixins" as *;
</style>
