---
import Layout from "@layouts/Layout.astro";
---

<Layout>
  <h1>Mentions Légales</h1>
  <p>Bienvenue sur la page des mentions légales.</p>
  <p>Société :</p>
  <p>Développeur :</p>
</Layout>

<style lang="scss">
  @use "../styles/config/variables" as *;
  @use "../styles/config/mixins" as *;
</style>
