.newsSwiper {
  height: auto;
  width: 100%;
  img {
    width: 90%;
    margin: 0 auto;
    max-width: 100%;
    border-radius: 10px;
  }
  .slideNews {
    display: flex;
    justify-content: center;
  }
}

.newsSwiperText {
  width: 100%;
  padding: 1rem;
  .cardText {
    justify-items: center;
    padding: 0.2rem;
  }

  h4 {
    margin: 2px;
    cursor: pointer;
    scale: 0.7;
  }

  .swiperSlide {
    opacity: 0.4;
  }
  .activeThumb {
    opacity: 1 !important;
  }
  .activeThumb h4 {
    text-decoration: underline;
  }
}

.swiper-button-next {
  margin-left: 10rem !important;
}

@media (width >= 576px) {
  .newsSwiperText {
    padding: 2rem 0;
    width: 80%;
    .cardText {
      justify-content: center;
    }
    h4 {
      scale: 0.9;
    }
  }
  .newsSwiper img {
    width: 60%;
  }
}

@media (width >= 768px) {
  .newsSwiperText {
    width: 80%;
    padding-right: 1rem;
    h4 {
      scale: 1;
    }
  }

  .newsSwiper img {
    width: 70%;
  }
}

@media (width >= 992px) {
  .newsSwiperText {
    width: 70%;
  }
  .newsSwiper img {
    width: 40%;
  }
}

@media (width >= 1300px) {
  .newsSwiper img {
    width: 55%;
  }
}
