.newsSwiper {
  height: auto;
  width: 80%;
  img {
    margin: 0 auto;
    max-width: 55%;
    border-radius: 10px;
  }
  .slideNews {
    display: flex;
    justify-content: center;
  }
}

.newsSwiperText {
  width: 60%;
  padding: 0.5rem;
  .cardText {
    justify-items: center;
    padding: 10px;
    border-radius: 10px;
    margin: 1rem;
  }

  h4 {
    margin: 2px;
    cursor: pointer;
  }
  .swiperSlide {
    opacity: 0.4;
  }
}

.activeThumb {
  opacity: 1 !important;
}
