---
import { Image } from "astro:assets";
import YinYoga from "../../assets/images/Planning/YinYoga.jpg";
import NewsSwiper from "../React/NewsSwiper";
---

<div class="limited-container">
  <div class="news-swiper">
    <NewsSwiper client:load />
  </div>
</div>

<style lang="scss">
  .news-swiper {
    margin: 5% auto;
  }

  @media (width < 768px) {
  }
</style>
