---
import "swiper/css";
---

<div class="swiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <div class="card">
        <img src="assets/images/Plant.svg" alt="" id="therapeutic-icon" />
        <div>
          <h2>Naturopathie</h2>
          <h2>Nutritionniste / Micronutritionniste</h2>
        </div>
        <div>
          <p>
            Pour améliorer vos habitudes et hygiène de vie, et donner au corps
            et aux émonctoires leurs pleins potentiels de fonctionnement.
          </p>
          <p>
            Pour améliorer et comprendre les symptômes, les maux, que le corps
            nous signale.
          </p>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="card">
        <img src="assets/images/Feet.svg" alt="" id="therapeutic-icon" />
        <div>
          <h2>Réflexologie plantaire</h2>
          <h2>Energétique chinoise</h2>
        </div>
        <div>
          <p>
            Redonner au corps et aux organes leur plein potentiel en agissant
            sur les zones réflexes du pied.
          </p>
          <p>
            Lever les blocages énergétiques, relancer et restaurer la
            circulation dans les méridiens.
          </p>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="card">
        <img src="assets/images/Brain.svg" alt="" id="therapeutic-icon" />
        <div>
          <h2>Psychopraticienne</h2>
        </div>
        <div>
          <p>
            Être entendu dans sa sensibilité et ses ressentis, au-delà des mots
            et des faits.
          </p>
          <p>
            Être entendu et accompagné sans jugement remet du sens et de la
            clarté sur nos questionnements, en soi et dans les épreuves que l'on
            traverse.
          </p>
          <p>Chaleureuse rencontre avec soi-même.</p>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="card">
        <img src="assets/images/Yin.svg" alt="" id="therapeutic-icon" />
        <div>
          <h2>Yin Yoga</h2>
        </div>
        <div>
          <p>
            Revenir à soi, dans des postures non engageantes, ne nécessitant ni
            force, ni équilibre ou souplesse particulière.
          </p>
          <p>
            Le premier ennemi du mental est le mental lui-même : offrons-lui
            pause et silence.
          </p>
          <p>
            Cette pratique introspective permet de se poser dans le moment
            présent, de relâcher les tensions et de réduire le stress.
          </p>
          <p>
            Agir sur les méridiens et les fascias favorise la santé des organes
            internes, améliore la digestion, le sommeil, soulage les douleurs et
            ramène de la clarté et de l'apaisement à l'esprit.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>

<script>
  import Swiper from "swiper/bundle";
  import "swiper/css/bundle";

  export const swiper = new Swiper(".swiper", {
    speed: 1000,
    spaceBetween: 30,
    effect: "coverflow",
    grabCursor: true,
    centeredSlides: true,
    slidesPerView: 1.3,
    breakpoints: {
      320: {
        slidesPerView: 1.27,
        spaceBetween: 10,
      },
    },
    coverflowEffect: {
      rotate: 50,
      stretch: 0,
      depth: 100,
      modifier: 1,
      slideShadows: false,
    },
    // Optional parameters
    direction: "horizontal",
    loop: true,

    // If we need pagination
    pagination: {
      el: ".swiper-pagination",
      dynamicBullets: true,
    },

    // Navigation arrows
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },

    // And if we need scrollbar
    scrollbar: {
      el: ".swiper-scrollbar",
    },
  });

  const swiperOne = document.querySelector(".swiper").swiper;
  // Now you can use all slider methods like
  swiperOne.slideNext();
</script>

<style>
  .swiper {
    position: relative;
    width: 100%;
    max-width: 1000px;
    margin: 3% auto;
    overflow: hidden;
  }

  .swiper-slide {
    display: none;
  }

  .swiper-button-prev,
  .swiper-button-next {
    color: var(--important-color) !important;
  }

  .swiper-button-next {
    padding-left: 5%;
  }

  .swiper-button-prev {
    padding-right: 5%;
  }

  .swiper-pagination {
    padding-top: 5%;
  }

  .swiper-pagination-bullet-active {
    background-color: var(--important-color) !important;
  }

  .card {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 500px;
    max-height: 90dvh;
    margin: 2% auto;
    padding: 3%;
    box-shadow: 0px -1px 6px 6px rgba(207, 154, 113, 0.249);
    border-radius: 5px;
  }

  .card p {
    font-size: var(--small-text);
  }

  #therapeutic-icon {
    width: 70px;
  }
</style>
