<div class="gradient"></div>
<div class="photo-end"></div>
<footer>
  <div class="footer-container">
    <div class="first-footer">
      <h5>Jeannelle</h5>
      <p>18 Rue Lieutenant Basseras, 66170 Millas</p>
      <p>Téléphone : 07.60.48.48.06</p>
    </div>
    <div class="second-footer">
      <h5>Nos thérapies</h5>
      <p>Naturopathie et Nutrition / Micronutrition</p>
      <p>Réfléxologie plantaire & énergétique chinoise</p>
      <p>Yin Yoga</p>
      <p>Psychopraticienne</p>
    </div>
    <div class="third-footer">
      <h5>Nos thérapeutes</h5>
      <p><a href="a-propos.html">Karine Maraval</a></p>
      <p>D'autres à venir...</p>
    </div>
  </div>
</footer>

<style lang="scss">
  .photo-end {
    background-image: url(../assets/images/Pivoine.jpg);
    width: 100%;
    height: 500px;
    background-position: center;
    background-size: cover;
    background-color: rgba(220, 173, 164, 0.217);
    background-blend-mode: overlay;
  }

  footer {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--main-color);
  }

  footer p {
    font-size: var(--small-text);
  }

  footer a {
    color: var(--text-primary-color);
    font-size: var(--small-text);
    text-decoration: none;
    transition: 0.5s ease-in-out;
  }

  footer a:visited {
    color: var(--text-primary-color);
  }

  footer a:hover {
    color: var(--important-color);
    transition: 0.5s ease-in-out;
  }

  .footer-container {
    max-width: 1300px;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2% 2% 3% 2%;
  }

  .first-footer,
  .second-footer,
  .third-footer {
    justify-self: center;
  }

  @media (width < 1024px) {
    .footer-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      max-width: 100%;
      margin: 0;
      padding: 3% 7%;
    }

    .first-footer,
    .second-footer,
    .third-footer {
      justify-self: start;
      margin: 0;
      width: 100%;
    }
  }
</style>
