---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.scss";
---

<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/Plant.svg" />
    <script
      src="https://kit.fontawesome.com/5ae925a9ee.js"
      crossorigin="anonymous"></script>
    <meta name="generator" content={Astro.generator} />
    <title>Jeannelle</title>
  </head>
  <body>
    <Navbar />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
