---
import Navbar from "./Navbar.astro";
import Footer from "./Footer.astro";
import "../styles/global.scss";
import { ClientRouter } from "astro:transitions";
---

<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="description"
      content="Jeannelle, un centre de thérapeutes. A votre écoute, au coeur du village de Millas. Un endroit cosy où l'on peut se poser et être entendu dans ses mots... et ses maux."
    />
    <link rel="icon" type="image/svg+xml" href="Plant.svg" />
    <script
      src="https://kit.fontawesome.com/5ae925a9ee.js"
      crossorigin="anonymous"></script>
    <meta name="generator" content={Astro.generator} />
    <title>Jeannelle</title>
    <ClientRouter />
  </head>
  <body>
    <Navbar />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
