---
import Navbar from "@components/Global/Navbar.astro";
import Footer from "@components/Global/Footer.astro";
import "../styles/global.scss";
import { ClientRouter } from "astro:transitions";
---

<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="description"
      content="Jeannelle, un centre de thérapeutes, au coeur du village de Millas. Un endroit cosy où l'on peut se poser et être entendu dans ses mots... et ses maux."
    />
    <link rel="icon" type="image/svg+xml" href="/Icon/Plant.svg" />
    <link rel="icon" type="image/x-icon" sizes="any" href="/Icon/Plant.ico" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/Icon/Plant-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/Icon/Plant-16x16.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/Icon/Plant-apple-touch.png"
    />
    <meta property="og:site_name" content="Jeannelle" />
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "WebSite",
        "name": "Jeannelle",
        "url": "https://www.jeannelle.me/"
      }
    </script>

    <meta name="generator" content={Astro.generator} />
    <title>Jeannelle</title>
    <ClientRouter />
  </head>
  <body>
    <Navbar />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
