---
import { Image } from "astro:assets";
import Logo from "../assets/images/Jeannelle.png";
import Plant from "../../public/Swiper/Plant.svg";
---

<header>
  <nav>
      <Image src={Logo} alt="Logo Jeannelle" id="logo" />
      <div class="desktop-menu">
        <a href="/">Accueil</a>
        <a href="/a-propos">A Propos</a>
      </div>
      <div class="mobile-menu">
        <button class="menu-button">
          <span></span>
          <span></span>
          <span></span>
        </button>
        <div class="menu">
          <a href="/">Accueil</a>
          <a href="/a-propos">A Propos</a>
          <Image src={Plant} alt="Plant" id="plant" />
        </div>
      </div>
  </nav>
  <div class="gradient"></div>
</header>

<script>
  function listenMenu() {
    const buttonMenu = document.querySelector('.menu-button')
    const menuTitles = document.querySelector(".menu");
    const body = document.querySelector("body");

    const toggleMenu = () => {
      menuTitles?.classList.toggle("show");
      buttonMenu?.classList.toggle("active");
      body?.classList.toggle("no-scroll");
    };

    menuTitles?.addEventListener("click", toggleMenu);
    buttonMenu?.addEventListener("click", toggleMenu)
  }

  document.addEventListener("DOMContentLoaded", listenMenu);
  document.addEventListener("astro:after-swap", listenMenu);
</script>

<style lang="scss">
  header {
    width: 100%;
    position: relative;
    background-color: white;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    a {
      text-decoration: none;
      font-size: 1.4rem;
      transition: 0.5s ease-in-out;
      font-weight: 600;
      color: var(--text-primary-color);
    }
    a:visited {
      color: var(--text-primary-color);
    }
    a:hover {
      color: var(--important-color);
      transition: 0.5s ease-in-out;
    }
  }

  #logo {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 70%;
    height: auto;
  }

  .menu-button {
    height: 30px;
    width: 30px;
    position: relative;
    background-color: transparent;
    border: none;
    span {
      height: 3px;
      width: 100%;
      background-color: black;
      border-radius: 25px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: 0.2s ease;
    }
    span:first-child {
      top: 25%;
    }
    span:last-child {
      top: 75%;
    }
  }

  .active {
    span:first-child {
      top: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
      background-color: var(--important-color);
    }
    span:nth-child(2) {
      opacity: 0;
    }
    span:last-child {
      top: 50%;
      transform: translate(-50%, -50%) rotate(-45deg);
      background-color: var(--important-color);
    }
  }

  .desktop-menu {
    display: none;
  }

  .menu {
    position: absolute;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    top: 100%;
    left: 0;
    background-color: var(--white);
    padding: 5rem 0;
    z-index: -3;
    transition: 0.5s ease;
    opacity: 0;
    overflow: auto;
  }
  
  .show {
    opacity: 1;
    transition: 0.5s ease;
    z-index: 10;
  }

  #plant {
    width: 30%;
    height: auto;
  }
  
  @media (width >= 768px) {

    .desktop-menu {
      display: flex;
      align-items: center;
      gap: 3rem;
      white-space: nowrap;
    }

    .desktop-menu a {
      font-size: 1.4rem;
    }

    .mobile-menu {
      display: none;
    }

    #logo {
      width: 40%;
    }
  }
</style>
